<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SondaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SondaSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SondaSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44326/Sonda.asmx" binding="basicHttpBinding"
                bindingConfiguration="SondaSoap" contract="ServiceReference.SondaSoap"
                name="SondaSoap" />
            <endpoint address="https://localhost:44326/Sonda.asmx" binding="customBinding"
                bindingConfiguration="SondaSoap12" contract="ServiceReference.SondaSoap"
                name="SondaSoap12" />
        </client>
    </system.serviceModel>
</configuration>